@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row m-4">
    <div class="col">
        <div >
            <p  data-aos="zoom-in" data-aos-delay="500" data-aos-once="true">Hi, my name is</p>
            <h1 class="text-light fw-bold" data-aos="zoom-in" data-aos-delay="1000" data-aos-once="true">Chafi Abderrahmane,</h1>
            <h1 class="fw-bold"  data-aos="zoom-in" data-aos-delay="1500" data-aos-once="true">I am a Development and computer network engineering student based in Morocco.</h1>
            <div data-aos="zoom-in" data-aos-delay="2000" data-aos-once="true">
                <p class="mt-2" >
                    Last month, I started to improve myself by changing my habits as well as putting a list of daily tasks that I have to accomplish at the end of the day.
                    So I had the idea to build this small web application so that people can write down their daily tasks quickly and easily,
                    the web application gives you the right to :
                    <ol class="mx-3">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>create an account</li>
                        }
                        else
                        {
                            <li> <a asp-area="Identity" asp-page="/Account/Register" class=" links">create an account</a></li>
                        }

                        <li> <a class="links" asp-controller="Tasks" asp-action="Upsert" asp-area="Customer">create tasks</a> </li>
                        <li>modify tasks</li>
                        <li>delete tasks</li>
                    </ol>
                    I hope that this application could be useful, as well as it could help you to manage your daily tasks well.
                </p>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="2500" data-aos-once="true">
            <a class="btn btn-primary mt-3" asp-controller="Tasks" asp-action="Upsert" asp-area="Customer">Create a task</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        AOS.init();
    </script>
}