# ASP.NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.userprefs
*.vscode
*.vs

# Dependencies
/.nuget/
/packages/
bower_components/
node_modules/

# Build artifacts
wwwroot/dist/
wwwroot/libs/
wwwroot/css/
wwwroot/js/

# IDE-specific files
.vscode/
*.sln.ide

# Logs
logs/

# Configuration files with sensitive information
appsettings.json
appsettings.Development.json
secrets.json
