<div class="container p-3 mt-5">
    <div class="p-2">
        <h2 class="text-primary">Users List :</h2>
    </div>
    <table id="tblData" class="table table-bordered table-striped mt-2" style="width:100%">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Country
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/users.js"></script>
}