ol {
    list-style: none;
    counter-reset: steps;
}

ol li {
        counter-increment: steps;
}

ol li::before {
        content: counter(steps);
        margin-right: 0.5rem;
        background: #b58900;
        color: white;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        display: inline-grid;
        place-items: center;
        line-height: 1.2em;
}


.links {
    text-decoration: none;
}

.links:hover {
        text-decoration: none;
    }

.links {
    text-decoration: none;
    position: relative;
}

    .links:after {
        border-radius: 1em;
        border-top: .1em solid #2AA198;
        content: "";
        position: absolute;
        right: 100%;
        bottom: .14em;
        left: 0;
        transition: right .4s cubic-bezier(0,.5,0,1);
    }

.links:hover:after {
        right: 0;
    }

.logo {
    font-size:25px;
}

/* Adjust the table width and make it scroll horizontally on smaller screens */
@media (max-width: 768px) {
    #tblData {
        width: 100%;
        overflow-x: auto;
    }
}

/* Make the table container responsive */
#tblData_wrapper {
    overflow-x: auto;
}

.sidebar.toggled #sidebarToggle::after {
    content: "\203a";
    font-family: "Font Awesome 5 Free";
    margin-left: 0.25rem;
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: "\2039"; 
    font-family: "Font Awesome 5 Free";
    margin-right: 0.1rem;
}

.clean-block.clean-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3b45;
    z-index: 1;
}

.feature-box {
    position: relative;
    padding: 15px 20px 15px 20px;
}

@media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .line-break-small-screen {
        display: block;
        content: '';
        margin: 2.5rem 0; /* Adjust the margin as needed */
    }
}

#GoogleBtn {
    color: white;
    border: none;
    background-color: #dd4b39
}

.Begin {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}
#TheFooter {
    height: 2.5rem;
}
.UpsertBtns {
    width: 150px
}